.the-tank {
  border: 2px solid white;
  padding: 10px 10px;
  margin: 10px;
  background-image: url('https://i.pinimg.com/originals/43/b3/34/43b334723001e35738a069ef464f02c2.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
}
